.violation_type .error {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

div .alert {
	color: red;
	font-weight: bold;
}
input[id^='setup_source'] {
    width: 606px;
}
p.table_description {
	margin-bottom:0;
	padding-bottom:0;
}
th {
	text-align:left;
}
.table{
    border-right: 1px solid #bfbfbf;
    width: 28%;
    min-width: 20%;
    margin-left:10px;
}
.table th,.table tr {
    border-left: 1px solid #bfbfbf;
}
.table th:last-child{
    width: 5%;
}